<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card  mx-auto" style="width: 36rem;">
        <div class="card-body">
          <h2 class="card-title">{{title}}</h2>
          <!--  -->
          <form #coordinates="ngForm" (ngSubmit)="coordinates.form.valid && onClickSubmit(coordinates)" novalidate>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Search City Name Here..." name="cityName" placeholder="Enter City name" pattern="^[a-zA-Z',.\s-]{1,25}$"
              title="25 letter country code" [(ngModel)]="CityModel.cityName" #cityName ngModel>
              <label for="floatingInput cityName">Name</label>
            </div>
            <button type="submit" class="btn btn-secondary mt-1" value="submit" [disabled]="!coordinates.form.valid || !CityModel.cityName">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mx-auto mt-3" style="width: 36rem;">
        <div class="card-body pb-0">
          <h2 class="card-title">{{ loading ? 'Loading...' : 'Get City Coordinates' }}</h2>
          <div class="error">{{error}}</div>
        </div>
        <div class="border m-2 city">
          <ngx-json-viewer [json]="apiResponse"></ngx-json-viewer>
        </div>
      </div>
    </div>
  </div>
</div>
<app-api-response>
  [apiResponse]="apiResponse"
</app-api-response>
